page-my-sense-box {

}
.actionButton{
    width:100%
}

code {
    color:#c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }

.senseBox {
    background: rgb(114, 176, 38) none repeat scroll 0% 0%
}