page-blockly {
    ion-fab {
        margin-right: 15px;
        ion-icon {
            font-size: 35px !important;
        }
    }

    iframe {
        height: calc(100% - 4px);
        width: 100%;
        border: 0;
        margin: 0;
        padding: 0;
    }
}
