<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Over The Air Progammer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="false"> <!-- FIXME: remove padding -->
  <ion-slides #slides pager (ionSlideDidChange)="onSlideChange()">

    <!-- intro -->
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-md-6>
            <ion-icon name="wifi" style="font-size: 160px"></ion-icon>
            <h2>Welcome</h2>
            <p>
              To <b>program your senseBox</b> wirelessly, please follow these steps.
              We will help you connect to your senseBox via <b>WiFi</b>.
            </p>
          </ion-col>

          <ion-col col-12 col-md-6>
            <p>First, please make sure that your senseBox...</p>
            <ul style="text-align: left">
              <li>has the <b>WiFi shield</b> plugged in</li>
              <li>has the initial <b>OTA sketch</b> installed</li>
              <li>is running</li>
            </ul>
            <button ion-button large clear icon-end color="primary" (click)="slides.slideNext()">
              Continue
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!-- compilation waiting screen -->
    <ion-slide>
      <ng-container *ngIf="state.compilation == 'compiling'">
        <h2>Compiling your sketch...</h2>
        <ion-spinner item-start name="dots"></ion-spinner>
      </ng-container>

      <ng-container *ngIf="state.compilation == 'go-online'">
        <h2>You are offline.</h2>
        <p>
          For compilation, you need to connect to the internet.
          Please enable a connection.
        </p>
      </ng-container>

      <ng-container *ngIf="state.compilation == 'done'">
        <h2>Sketch successfully compiled.</h2>
        <button ion-button large clear icon-end color="primary" (click)="slides.slideNext()">
          Continue
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ng-container>

      <ng-container *ngIf="state.compilation == 'error'">
        <h2>Error compiling your sketch.</h2>
        <p [innerHTML]="errorMsg"></p>
      </ng-container>
    </ion-slide>

    <!-- wifi selection -->
    <ion-slide>
      <ng-container *ngIf="state.wifiSelection == 'manual'">
        <h2>Connect to your senseBox</h2>
        <p>
          Connect to the WiFi network that your senseBox has openened.
          Because we can not do this automatically on your platform, please do this manually.
        </p>
      </ng-container>

      <ion-grid *ngIf="state.wifiSelection != 'manual'">
        <ion-row>
          <ion-col col-12 col-md-6>
            <ion-icon name="wifi" style="font-size: 160px"></ion-icon>
            <h2>Select your senseBox</h2>
            <p>
              In the list, all running senseBoxes with OTA available are shown.
              If you don't see yours, please make sure that it
            </p>
            <ul style="text-align: left">
              <li>has the <b>WiFi shield</b> plugged in</li>
              <li>has the initial <b>OTA sketch</b> installed</li>
              <li>is running</li>
            </ul>
          </ion-col>

          <ion-col col-12 col-md-6>
            <h4>Available senseBox WiFis</h4>
            <ion-list>
              <ion-item *ngFor="let ssid of availableSenseboxes" (click)="connectToSensebox(ssid)">
                <ion-icon name="wifi" item-start></ion-icon>
                {{ ssid }}
              </ion-item>

              <ion-item *ngIf="state.wifiSelection == 'scanning'">
                <ion-spinner item-start name="dots"></ion-spinner>
                searching...
              </ion-item>
              <ion-item *ngIf="state.wifiSelection == 'selection' && !availableSenseboxes.length">
                no senseboxes available :(
              </ion-item>
              <ion-item>
                <ion-label>Show only senseBox WiFis</ion-label>
                <!-- TODO: retrigger scan on toggle -->
                <ion-toggle [(ngModel)]="filterSsids"></ion-toggle>
              </ion-item>
            </ion-list>

            <ng-container *ngIf="state.wifiSelection == 'connecting'">
                <ion-spinner item-start name="dots"></ion-spinner>
                connecting...
            </ng-container>

            <ng-container *ngIf="state.wifiSelection == 'error'">
              <h2>Error!</h2>
              <p [innerHTML]="errorMsg"></p>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>

    <!-- upload & final status -->
    <ion-slide>
      <h2>Uploading your sketch</h2>
      <ion-spinner item-start name="dots"></ion-spinner>

      <!-- <pre style="text-align: left">
        - background: check if sensebox upload is available
        - show success or error
        - instructions to restart sensebox?
      </pre> -->
    </ion-slide>

  </ion-slides>
</ion-content>
