<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'OTAWIZ.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides #slides pager (ionSlideDidChange)="onSlideChange()">

    <!-- intro -->
    <ion-slide>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col col-12 col-md-6>
            <ion-icon name="wifi" style="font-size: 160px"></ion-icon>
            <h2 translate>OTAWIZ.INTRO.TITLE</h2>
            <p [innerHTML]="'OTAWIZ.INTRO.TEXT' | translate"></p>
          </ion-col>

          <ion-col col-12 col-md-6>
            <p translate>OTAWIZ.INTRO.STEPS</p>
            <ul style="text-align: left">
              <li [innerHTML]="'OTAWIZ.INTRO.STEP1' | translate"></li>
              <li [innerHTML]="'OTAWIZ.INTRO.STEP2' | translate"></li>
              <li [innerHTML]="'OTAWIZ.INTRO.STEP3' | translate"></li>
            </ul>
            <button ion-button large clear icon-end color="primary" (click)="slides.slideNext()">
              {{ 'OTAWIZ.BTN_NEXT' | translate }}
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <!-- OTA Mode guide-->
    <ion-slide>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col col-12>
          <h2 translate>OTAWIZ.OTAMODE.TITLE</h2>
        </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col col-12 col-md-6>
            <ion-card (click)="showAutomatic()">
              <ion-card-header>
                Automatic mode
              </ion-card-header>
              <ion-card-content>
                <ion-icon class="mode_selection" name="wifi" ></ion-icon> <br>
                {{ 'OTAWIZ.OTAMODESELECTION.AUTOMATIC' | translate}}
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col col-12 col-md-6>
            <ion-card (click)="showManual()">
              <ion-card-header>
                Manual mode
              </ion-card-header>
              <ion-card-content>
                <ion-icon class="mode_selection" name="hammer" ></ion-icon> <br>
                {{ 'OTAWIZ.OTAMODESELECTION.MANUAL' | translate}}
              </ion-card-content>
            </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-slide>
    <!-- OTA Manual -->
    <ion-slide  id="manual-slide">
      <ion-grid *ngIf="manual">
        <ion-row align-items-center>
          <ion-col col-12 col-md-6>
            <img class="tutorial_gif" src="../../assets/imgs/ota_modus.gif" />
            <p [innerHTML]="'OTAWIZ.OTAMODE.TEXT' | translate"></p>
          </ion-col>
          <ion-col col-12 col-md-6>
            <ol style="text-align: left">
              <li [innerHTML]="'OTAWIZ.OTAMODE.STEP1' | translate"></li>
              <li [innerHTML]="'OTAWIZ.OTAMODE.STEP2' | translate"></li>
              <li [innerHTML]="'OTAWIZ.OTAMODE.STEP3' | translate"></li>
            </ol>
            <!-- @TODO: diagram! -->
            <button  ion-button large clear icon-end color="primary" (click)="slides.slideNext()">
              {{ 'OTAWIZ.BTN_NEXT' | translate }}
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="automatic">
        <ion-row align-items-center>
          <ion-col col-12 col-md-6>
            <ol style="text-align: left">
              <li [innerHTML]="'OTAWIZ.OTAMODE.AUTOMATIC.STEP1' | translate"></li>
              <li [innerHTML]="'OTAWIZ.OTAMODE.AUTOMATIC.STEP2' | translate"></li>
              <li [innerHTML]="'OTAWIZ.OTAMODE.AUTOMATIC.STEP3' | translate"></li>
            </ol>
          </ion-col>
          <ion-col col-12 col-md-6>
            <!-- @TODO: diagram! -->
            <button  *ngIf="requestSuccessful;else request" ion-button large clear icon-end color="primary" (click)="slides.slideNext()">
              {{ 'OTAWIZ.BTN_NEXT' | translate }}
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
            <ng-template #request>
              <button  ion-button large clear icon-end color="primary" (click)="makeRequest()">
                {{ 'OTAWIZ.BTN_REQUEST' | translate }}
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <!-- compilation waiting screen -->
    <ion-slide *ngIf="!slideIsHidden(slideCompilation)">
      <ng-container *ngIf="state.compilation == 'compiling'">
        <h2 translate>OTAWIZ.COMPILATION.COMPILING.TITLE</h2>
        <!-- getActiveIndex() check because animated icons use loads of CPU, even when not visible! -->
        <ion-spinner *ngIf="currentSlide == slideCompilation" item-start name="dots"></ion-spinner>
      </ng-container>
      <ng-container *ngIf="state.compilation == 'go-online'">
        <h2 translate>OTAWIZ.COMPILATION.GO_ONLINE.TITLE</h2>
        <p translate>OTAWIZ.COMPILATION.GO_ONLINE.TEXT</p>
      </ng-container>

      <ng-container *ngIf="state.compilation == 'done'">
        <h2 translate>OTAWIZ.COMPILATION.DONE.TITLE</h2>
        <button ion-button large clear icon-end color="primary" (click)="slides.slideNext()">
          {{ 'OTAWIZ.BTN_NEXT' | translate }}
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="state.compilation == 'error'">
        <h2 translate>OTAWIZ.COMPILATION.ERROR.TITLE</h2>
        <p [innerHTML]="errorMsg"></p> <!-- @TODO: translate? -->
      </ng-container>
    </ion-slide>
    <!-- wifi selection -->
    <ion-slide id="wifi-slide">
      <ion-grid>
        <div id="wifi-manual" *ngIf="state.wifiSelection == 'manual'">
          <ion-row align-items-center>
            <ion-col col-12 col-md-6>
              <h2 translate>OTAWIZ.WIFI.MANUAL.TITLE</h2>
              <img src="../../assets/imgs/wifiselection.gif" class="tutorial_gif" />
              <p translate>OTAWIZ.WIFI.MANUAL.TEXT</p>
            </ion-col>
            <ion-col col-12 col-md-6>
              <button ion-button large clear icon-end color="primary" (click)="slides.slideNext()">
                {{ 'OTAWIZ.BTN_NEXT' | translate }}
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </div>
        <ion-row id="wifi-automatic" *ngIf="state.wifiSelection != 'manual'">
          <ion-col col-12 col-md-6>
            <ion-icon class="hidden-xs hidden-sm" name="wifi" style="font-size: 160px"></ion-icon>
            <h2 translate>OTAWIZ.WIFI.AUTO.TITLE</h2>
            <ul style="text-align: left">
              <li translate>OTAWIZ.WIFI.AUTO.TEXT1</li>
              <li translate>OTAWIZ.WIFI.AUTO.TEXT2</li>
              <li translate>OTAWIZ.WIFI.AUTO.TEXT3</li>
            </ul>
          </ion-col>
          <ion-col col-12 col-md-6>
            <h4 translate>OTAWIZ.WIFI.AUTO.AVAILABLE</h4>
            <button ion-fab mini color="light" (click)="onWifiRefresh()">
              <ion-icon name="refresh"></ion-icon>
            </button>

            <ion-list id="wifi-list">
              <ion-item *ngIf="state.wifiSelection == 'scanning'">
                <ion-spinner *ngIf="currentSlide == slideWifi" item-start name="dots"></ion-spinner>
                {{ 'OTAWIZ.WIFI.AUTO.SCANNING' | translate }}
              </ion-item>

              <ion-item *ngIf="state.wifiSelection == 'connecting'">
                <ion-spinner *ngIf="currentSlide == slideWifi" item-start name="dots"></ion-spinner>
                {{ 'OTAWIZ.WIFI.AUTO.CONNECTING' | translate }}
              </ion-item>

              <ion-item *ngFor="let ssid of availableSenseboxes" (click)="connectToSensebox(ssid)">
                <ion-icon name="wifi" item-start></ion-icon>
                {{ ssid }}
              </ion-item>

              <ion-item *ngIf="state.wifiSelection == 'select' && !availableSenseboxes.length">
                {{ 'OTAWIZ.WIFI.AUTO.NONE_FOUND' | translate }}
              </ion-item>
            </ion-list>

            <ng-container *ngIf="state.wifiSelection == 'error'">
              <h2 translate>OTAWIZ.WIFI.AUTO.ERROR</h2>
              <p [innerHTML]="errorMsg"></p>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>

    <!-- upload & final status -->
    <ion-slide>
      <ng-container *ngIf="state.upload == 'uploading'">
        <h2 translate>OTAWIZ.UPLOAD.UPLOADING</h2>
        <ion-spinner *ngIf="currentSlide == slideUpload" item-start name="dots"></ion-spinner>
      </ng-container>

      <ng-container *ngIf="state.upload == 'done'">
        <ion-icon name="checkmark" style="font-size: 160px"></ion-icon>
        <h2 translate>OTAWIZ.UPLOAD.DONE</h2>
        <button ion-button large clear icon-end color="primary" (click)="onClose()">
          {{ 'OTAWIZ.BTN_CLOSE' | translate }}
        </button>
      </ng-container>

      <ng-container *ngIf="state.upload == 'error'">
        <h2 translate>OTAWIZ.UPLOAD.ERROR</h2>
        <p [innerHTML]="errorMsg"></p>
        <button ion-button large clear icon-end color="primary" (click)="slides.slidePrev()">
          <ion-icon item-start name="arrow-back"></ion-icon>
          {{ 'OTAWIZ.BTN_BACK' | translate }}
        </button>
        <button ion-button large clear icon-end color="primary" (click)="onClose()">
          {{ 'OTAWIZ.BTN_CLOSE' | translate }}
        </button>
      </ng-container>
    </ion-slide>

  </ion-slides>
</ion-content>