@import '../../theme/variables.scss';

page-ota-wizard {
  .swiper-pagination-bullet-active {
    background: map-get($colors, primary);
  }

  ion-slide {
    h4 {
      margin-bottom: 40px;
    }

    img {
      max-height: 50%;
      max-width: 60%;
      margin: 18px 0;

      & ~ h2 {
        margin-top: 2.8rem;
      }
    }

    p, ul {
      padding: 0 20px;
      font-size: 16px;
      line-height: 1.4;
      color: #60646B;

      b {
        color: #000000;
        font-weight: 500;
      }
    }

    ul {
      margin-left: 3%;
      list-style-type: disc;
    }
  }

  #wifi-slide {
    h4, button {
      display: inline-block;
    }

    // for the ion-list height limitation to work..
    &, div.slide-zoom, ion-grid, ion-row, ion-col:last-child {
      height: 100%;
    }

    #wifi-list {
      max-height: 55%;
      overflow-y: scroll;
    }

  }
}
